@import 'variable';
@import 'function';
@import 'header';
@import'sideBar';
@import 'partieOne';
@import 'onepage';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #222d32;
    .contenaire{
        @include taille (100%,750px);
        background-color: #222d32;
        position: absolute;
        display: flex;
    }
}
